

.bulletinBoardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #fcfcfc;
    }
    h2 { 
        font-size: 28px;
        margin-bottom: 5px;
        color: #808c9c;
        margin-right: 800px;
    }
    

    
    table {
        width: 1000px;
        border-collapse: collapse;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }
    
    table th,
    table td {
        padding: 10px;
        text-align: left;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd; 
        color: #808c9c;
    }
    
    table th:first-child,
    table td:first-child {
        border-left: none;
    }
    
    table th:last-child,
    table td:last-child {
        border-right: none;
    }
    
    table th {
        background-color: #ededf4;
        color: #808c9c;
    }

    .contentTitle{
        padding-left:100px;
    }

    .dateTitle{
        padding-left:20px;
    }
    h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .inputTitle,
    textarea {
        width: 100%;
        margin-bottom: 10px;
        border: 1px solid #ced4f8;
    }
    textarea {
        height: 100px;
        margin-bottom: -2px;
    }
    button {
        background-color: white;
        color: #A593E0;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        margin: 0 2px;
        border: 1px solid lightgrey;
    }
    .addNewPostBtn{
        background-color: #A593E0;
        color: #fff;
        border: none;
        padding: 6px 16px;
        cursor: pointer;
        margin: 0px 0px 5px 910px;
    }
    .addNewPostBtn:hover{
        background-color: #ced4f8;
    }

    .prevButton{
        background-color: white;
        color:#A593E0;
        font-weight: bold;
    }

    .nextButton{
        background-color: white;
        color:#A593E0;
        font-weight: bold;
    }

    .activePageButton {
        background-color: #A593E0;
        color: #ffff;
    }
    .prevButton,
    .nextButton {
        padding: 10px 15px;
        margin: 5px;
        border: none;
        background-color: #A593E0;
        color: white;
        cursor: pointer;
        border-radius: 4px;
    }

    .activePageButton {
        background-color: #ced4f8;
    }

    .addNewPostBtn:hover,
    .prevButton:hover,
    .nextButton:hover {
        background-color: #ced4f8;
    }

    .addNewPostBtn:disabled,
    .prevButton:disabled,
    .nextButton:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

    .deleteContent{
        cursor: pointer;
        background-color: #A593E0;
        text-align: center;
        color: white;
        border-radius: 4px;
        font-size: 12px;
        padding: 3px;
        width: 20px;
    }

    .deleteContent:hover{
        background-color: #ced4f8;
    }

    .divFlex{ display: flex;

        align-items: center;
    }
    

    .modifyContent{
        cursor: pointer;
        background-color: #A593E0;
        text-align: center;
        color: white;
        border-radius: 4px;
        margin-right: 10px;
        font-size: 12px;
        padding: 3px;
    }

    input:focus,
    textarea:focus {
    outline: none;
    border-color: #A593E0;
    }

/* Add this to your BulletinBoard.css or your global CSS */
.contentCell {
    width: 50px;
    max-width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
    cursor: pointer; /* Add this to show the cursor as a pointer when hovering */
    transition: white-space 0.3s; /* Add transition for smooth effect */
}

.wrapText {
    white-space: normal;
}

.reSaveContent, .reSaveCancel{
    margin-bottom:10px;
    cursor: pointer;
    text-align: center;
}

.reSaveCancel:hover, .reSaveContent:hover{
    background-color: #ced4f8;
    color: #fff;
    transition: 0.3s;
    border-radius: 10px;
}

.postNo{
    text-align:center;
    width: 30px;
    margin-left:-5px;
}